.hero-section {
  background-image: url("../../../../assets/images/Bitmap.png");
  // background-color: antiquewhite;
  padding-top: 10px;
}

.bg-green {
  background: #68d585;
}
.bg-blue{
	background: #473bf0;
}
.bg-red{
	background:#f64b4b;
}
.image-container{
	height: 150px;
	width: 150px;
}
.hero-image-container{
	height: 550px;
}
.bi-star-fill{
	color: #FCAD38;
	font-size: 16px;
}